---
import MainLayout from "../layouts/MainLayout.astro";

export const prerender = false;

const pokemonName =
  new URL(Astro.request.url).searchParams.get("s") || undefined;

if (!pokemonName) {
  return Astro.redirect("/404");
}

const result = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemonName}`);
if (result.status === 404) {
  return Astro.redirect("/404");
}

const pokemon = await result.json();
---

<MainLayout>
  <div class="card">
    <span style="display: flex; align-items: center;">
      <h2>{pokemon.name} ({pokemonName})</h2>
      <img
        id=`${pokemon.name}-logo`
        src={pokemon.sprites.front_default}
        width="64px"
        height="64px"
      />
    </span>

    <section class="card">
      <h3>Capacités</h3>
      <ul>
        {
          pokemon.abilities.map((ability: any) => (
            <li>{ability.ability.name}</li>
          ))
        }
      </ul>
    </section>
  </div>
</MainLayout>
